



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: helvetica, Arial, sans-serif;
}

header{
    background-color: #255EE9;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    min-height: 100px;
}

.clearfix {
    overflow: auto;
}

a{
    display: inline-block;
}

/* miei flex */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fl{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.btn{
    background-color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
}

.wdt{
    margin: auto;
    max-width: 1200px;
}

/* text */

.white{
    color: white;
}

.black{
    color: #23272A;
}

.lilla{
    color: #7289DA;
}

.font1{
    font-size: 13px;
    font-weight: 600;
}

.font2{
    font-size: 15px;
    font-weight: 600;
}

.font3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
    color: #23272A;
}


.font4{
    line-height: 170%;
    color: #23272A;
    font-size: 18px;
    max-width: 1100px;
}

.font5{
    font-size: 30px;
    font-weight: 700;
}


/* hero image/text */

    /* hero1 */
        .hero-image1{
            background-image: url(../img/jumbo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
  
            min-width: 1000px;
            }

        .hero-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 800px;
            text-align: center;
            margin: 0 auto;
            color: white;
            padding-top: 100px;
            padding-bottom: 200px;
        }
        
        #title{
            font-size: 60px;
            padding-bottom: 50px;
        }

        #st{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }

        .paddingb{
            padding-bottom: 50px;
        }

        .btn2{
            background-color: white;
            padding: 16px 24px 16px 24px;
            border-radius: 40px;
        }

        .btn2b{
            background-color: #23272A;
            padding: 16px 24px 16px 24px;
            border-radius: 40px;
        }

        .btn3{
            background-color: #8EA1E1;
            padding: 15px 24px 15px 24px;
            border-radius: 40px;
        }

        .btn3b{
            background-color: #8EA1E1;
            padding: 10px 14px 10px 14px;
            border-radius: 40px;
        }

        .mrg{
            margin: 0px 10px 0px 10px;
        }

        p{
            font-weight: 600;
        }

        .fontwa{
            font-weight: 600;
        }

        /* fine hero1 */


/* sezione1 */
        .separator1{
            padding-top: 200px;
            padding-bottom: 200px;
        }

        .separator2{
            padding-top: 200px;
            padding-bottom: 200px;
        }

        .sez1{
            display: flex;
            flex-direction: row ;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }

        .sez4{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 1200px;
            align-items: center;
            margin: 0 auto;
        }

        .textl{
          padding: 40px 100px 40px 0px;
        }

        .textr{
            padding: 40px 0px 40px 100px;
        }

        .background{
            background-color: #f6f6f6;
        }

        .big{
            width: 1200px;
        }

        .dod{
            padding: 40px 50px 40px 50px;
            font-size: 27px;
            background-repeat: no-repeat;
            background-position: top;
            background-image: url(/img/stars.svg);
        }

        .cen{
            text-align: center;
        }

            /* footer section */
                footer{
                    padding-top: 100px;
                    background-color: #23272A;
                    height: 650px;  
                    /* messo solo per vedere il colore */
                }

                /* #7289DA colore lilla footer */
                hr{
                    background-color: #7289DA;
                    border: 0px;
                    height: 3px;
                }

                .footer2{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 35px;
                    margin-bottom: 60px;
                }

                .footer1{
                    display: flex;
                    justify-content: row;

                }
                select{
                    background-color: #23272A;
                    color: white;
                    border: 0px;
                    vertical-align: top;
                }

                .itasiz{
                    width: 23px;
                    
                }
                
                .linksiti{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    max-width: 140px;
                }

                .colonna1{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 18px;
                    max-width: 300px;
                    max-height: 100px;
                }   

                .sas{
                    margin-bottom: 50px;
                }

                .lim{
                    margin-bottom: 15px;
                }

                .incolonnamento{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 30px;
                }

/* BONUS */
.svg1{
    display: block;
    color: #f6f6f6;
}

.svg2{
    transform: rotate(180deg);
    display: block;
    color: #F6F6F6;
}