



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: helvetica, Arial, sans-serif;
}

header{
    background-color: #255EE9;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    min-height: 100px;
}

.clearfix {
    overflow: auto;
  }

/* miei flex */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fl{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.btn{
    background-color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
}

.wdt{
    margin: auto;
    max-width: 1200px;
}

/* text */

.white{
    color: white;
}

.black{
    color: #23272A;
}

.font1{
    font-size: 13px;
    font-weight: 600;
}

.font2{
    font-size: 13px;
    font-weight: 500;
}


/* hero image/text */

    /* hero1 */
        .hero-image1{
            background-image: url(../img/jumbo.png);
            height: 490px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            }

        .hero-text{
            max-width: 800px;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
        
        #title{
            font-size: 60px;
            padding: 50px;
        }

        #st{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }